<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Backbone.js Web App</title>
        <link rel="stylesheet" href="css/screen.css" />
		<script data-main="js/main" src="js/libs/require/require.js"></script>
    </head>
    <body>
        
		<div id="contacts">
			<header>
				<div id="filter">
					<label>Show me:</label>
				</div>
			</header>
		</div>

		<script id="contactTemplate" type="text/template">
		    <img src="<%= photo %>" alt="<%= name %>" />
		    <h1><%= name %><span><%= type %></span></h1>
		    <div><%= address %></div>
		    <dl>
		        <dt>Tel:</dt><dd><%= tel %></dd>
		        <dt>Email:</dt><dd><a href="mailto:<%= email %>"><%= email %></a></dd>
		    </dl>
		</script>
		
    </body>
</html>